<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aayush.onlineshopping">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/app_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="Login Screen"
            android:parentActivityName=".WelcomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeScreen" />
        </activity>
        <activity
            android:name=".RegistrationScreen"
            android:label="Registration Screen"
            android:parentActivityName=".LoginScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginScreen" />
        </activity>
        <activity
            android:name=".CardDetails"
            android:label="Card Details"
            android:parentActivityName=".RegistrationScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegistrationScreen" />
        </activity>
        <activity android:name=".CategoryPage" />
        <activity
            android:name=".CategoryProduct"
            android:label="Category Products"
            android:parentActivityName=".CategoryPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryPage" />
        </activity>
        <activity
            android:name=".ProductActivity"
            android:label="Product Page"
            android:parentActivityName=".CategoryProduct" />
        <activity
            android:name=".CartActivity"
            android:label="Cart Page"
            android:parentActivityName=".ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductActivity" />
        </activity>
        <activity
            android:name=".PaymentAuth"
            android:label="Payment Authentication"
            android:parentActivityName=".CartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CartActivity" />
        </activity>
        <activity
            android:name=".VendorHomepage"
            android:label="Vendor Homepage"
            android:parentActivityName=".LoginScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginScreen" />
        </activity>
        <activity
            android:name=".AddProduct"
            android:label="Add Product"
            android:parentActivityName=".VendorHomepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VendorHomepage" />
        </activity>
        <activity
            android:name=".VendorItemPage"
            android:label="Vendor Item Page"
            android:parentActivityName=".VendorHomepage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VendorHomepage" />
        </activity>
    </application>

</manifest>